<div class="card mb-4">
  <div class="card-body bg-light">
    <img class="img-thumbnail float-right" src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ foo }} {{ book.title }}
        <span class="badge badge-secondary testing-rating-box">{{ book.rating }}</span>
      </h2>
      <p class="text-muted">
        von <strong>{{ book.author }}</strong>
      </p>
    </div>
    <p>{{ book.description }}</p>

    <button class="btn btn-secondary mr-1" (click)="rateDown()">-</button>
    <button class="btn btn-secondary" (click)="rateUp()">+</button>
    <button class="btn btn-secondary" (click)="1+1">TEST</button>

    <a [routerLink]="['/book', book.isbn]">Details</a>
  </div>
</div>
